*{
    margin: 0;
    padding: 0;
}

.name{
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
    font-size: 18px;
}
.cir{
    height: 80vw;
    width: 80vw;
    border: 2px solid black;
    border-radius: 40vw;
    position: relative;
}
.main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec{
    height: 36.4vw;
    width: 2px;
    background-color: black;
    position: absolute;
    left: calc(40vw - 1px);
    top: 3.6vw;
    /* transform: rotate(40deg); */
    transform-origin: bottom;
    z-index: 500;
    border-radius: 12px;
}
.min{
    height: 32.8vw;
    width: 5px;
    background-color: black;
    position: absolute;
    left: calc(40vw - 2.5px);
    top: 7.2vw;
    /* transform: rotate(70deg); */
    transform-origin: bottom;
    z-index: 400;
    border-radius: 16px;
}
.hour{
    height: 28vw;
    width: 8px;
    background-color: black;
    position: absolute;
    left: calc(40vw - 4px);
    top: 12vw;
    /* transform: rotate(110deg); */
    transform-origin: bottom;
    z-index: 300;
    border-radius: 24px;
}
.center{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: calc(40vw - 10px);
    left: calc(40vw - 10px);
    z-index: 1000;
}
.n12{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    width: 25px;
    padding: 0;
    height: 25px;
    position: absolute;
    left: calc(40vw - 12.5px);
}
.n3{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    width: 12.5px;
    padding: 0;
    height: 25px;
    position: absolute;
    left: calc(80vw - 12.5px);
    top: calc(40vw - 12.5px);
}
.n6{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    width: 12.5px;
    padding: 0;
    height: 25px;
    position: absolute;
    left: calc(40vw - 6.25px);
    top: calc(80vw - 25px);
}
.n9{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    width: 12.5px;
    padding: 0;
    height: 25px;
    position: absolute;
    left: 0px;
    top: calc(40vw - 12.5px);
}
.sampleline1{
    height: 80vw;
    width: 8px;
    background-color: white;
    position: absolute;
    left: calc(40vw - 4px);
    z-index: 1;
    transform: rotate(30deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sampleline2{
    height: 80vw;
    width: 8px;
    background-color: white;
    position: absolute;
    left: calc(40vw - 4px);
    z-index: 2;
    transform: rotate(60deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sampleline3{
    height: 80vw;
    width: 8px;
    background-color: white;
    position: absolute;
    left: calc(40vw - 4px);
    z-index: 3;
    transform: rotate(120deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sampleline4{
    height: 80vw;
    width: 8px;
    background-color: white;
    position: absolute;
    left: calc(40vw - 4px);
    z-index: 4;
    transform: rotate(150deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.n1, .n7, .n2, .n8, .n4, .n10, .n5, .n11{
    height: 20px;
    width: 8px;
    background-color: black;
}


@media screen and (min-width: 550px) {
    .cir{
        height: 500px;
        width: 500px;
        border-radius: 250px;
    }
    .sec{
        height: calc(455px / 2);
        width: 2px;
        background-color: black;
        position: absolute;
        left: calc(250px - 1px);
        top: calc(45px / 2);
        /* transform: rotate(40deg); */
        transform-origin: bottom;
        z-index: 500;
        border-radius: 12px;
    }
    .min{
        height: calc(410px / 2);
        width: 5px;
        background-color: black;
        position: absolute;
        left: calc(250px - 2.5px);
        top: calc(90px / 2);
        /* transform: rotate(70deg); */
        transform-origin: bottom;
        z-index: 400;
        border-radius: 16px;
    }
    .hour{
        height: calc(350px / 2);
        width: 8px;
        background-color: black;
        position: absolute;
        left: calc(250px - 4px);
        top: calc(150px / 2);
        /* transform: rotate(110deg); */
        transform-origin: bottom;
        z-index: 300;
        border-radius: 24px;
    }
    .center{
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 10px;
        position: absolute;
        top: calc(250px - 10px);
        left: calc(250px - 10px);
        z-index: 1000;
    }
    .n12{
        color: black;
        font-size: 25px;
        font-weight: bolder;
        display: inline-block;
        width: 25px;
        padding: 0;
        height: 25px;
        position: absolute;
        left: calc(250px - 12.5px);
    }
    .n3{
        color: black;
        font-size: 25px;
        font-weight: bolder;
        display: inline-block;
        width: 12.5px;
        padding: 0;
        height: 25px;
        position: absolute;
        left: calc(500px - 12.5px);
        top: calc(250px - 12.5px);
    }
    .n6{
        color: black;
        font-size: 25px;
        font-weight: bolder;
        display: inline-block;
        width: 12.5px;
        padding: 0;
        height: 25px;
        position: absolute;
        left: calc(250px - 6.25px);
        top: calc(500px - 25px);
    }
    .n9{
        color: black;
        font-size: 25px;
        font-weight: bolder;
        display: inline-block;
        width: 12.5px;
        padding: 0;
        height: 25px;
        position: absolute;
        left: 0px;
        top: calc(250px - 12.5px);
    }
    .sampleline1{
        height: 500px;
        width: 8px;
        background-color: white;
        position: absolute;
        left: calc(250px - 4px);
        z-index: 1;
        transform: rotate(30deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .sampleline2{
        height: 500px;
        width: 8px;
        background-color: white;
        position: absolute;
        left: calc(250px - 4px);
        z-index: 2;
        transform: rotate(60deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .sampleline3{
        height: 500px;
        width: 8px;
        background-color: white;
        position: absolute;
        left: calc(250px - 4px);
        z-index: 3;
        transform: rotate(120deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .sampleline4{
        height: 500px;
        width: 8px;
        background-color: white;
        position: absolute;
        left: calc(250px - 4px);
        z-index: 4;
        transform: rotate(150deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .n1, .n7, .n2, .n8, .n4, .n10, .n5, .n11{
        height: 20px;
        width: 8px;
        background-color: black;
    }
    
}